@model ASPnetMVCCRUD.Models.AddView

@{
}

<h1>Add Employee</h1>

<form method="post" action="Add">

    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input id="name" type="text" class="form-control" asp-for="Emp.Name" />
        <span id="forName" class="text-danger"> Name Should only be in Alphabets </span>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" class="form-control" asp-for="Emp.Email" />
        <span id="forEmail" class="text-danger"> Email should be Correct</span>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">salary</label>
        <input id="salary" value="" type="number" class="form-control" asp-for="Emp.salary" />
        <span id="forSalary" class="text-danger"> Salary should be Integer And Valid</span>
    </div>


    <div class="input-group  mt-3" style="width: 100vw;">
        <select asp-for="Emp.Department" class="custom-select" id="inputGroupSelect02">
            @* <option selected>Choose Department !</option> *@
            <option value="" selected disabled hidden>Choose here</option>
            @foreach (var department in Model.Departments)
            {
                <option value="@department.DepartmentName">@department.DepartmentName</option>
            }
        </select>
        <div class="input-group-append">
            <label class="input-group-text" for="inputGroupSelect02">Select Department</label>
        </div>

    </div>
    <span class="text-danger" asp-validation-for="Emp.Department"></span>


    <div class="form-group">
        <label for="exampleInputEmail1">DateofBirth</label>
        <input type="date" value="2024-01-01" class="form-control" asp-for="Emp.DateofBirth" />
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Gender</label>
        <input id="gender" type="text" placeholder="M or F" value="" class="form-control" asp-for="Emp.Gender" />
        <span class="text-danger" asp-validation-for="Emp.Gender"></span>
        <span id="forGender" class="text-danger">Gender should be Either M OR F </span>
    </div>


    <button id="submit" type="submit" class="btn btn-primary mt-2 me-1">
        Submit
    </button>

    <a asp-controller="Employees" asp-action="Index" class="btn btn-info mt-2"> Back TO Employee List</a>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script src="~/js/validationForEmployee.js"></script>
